$primary-color: rgb(40, 155, 255);
$secondary-color: rgb(255, 80, 155);
$close-color: rgb(255, 92, 92);

// Font colors
$font-color: rgb(255, 255, 255);
$font-color-highlight: rgb(210, 210, 210);
$font-color-gray: rgb(175, 175, 175);
$font-color-invert: rgb(20, 20, 20);
$font-color-invert-highlight: rgb(75, 75, 75);
$font-color-title: rgb(255, 255, 255);

// Background colors
$bg-color-1: rgb(38, 38, 38);
$bg-color-2: rgb(52, 52, 52);
$gray-color: rgb(175, 175, 175);
$footer-bg-color: rgb(0, 0, 0);

// Layout spacing
$list-padding: 1em;
$item-spacing: .6em;
$mobile-padding: .6em;
