$primary-color: rgb(16, 105, 173);
$secondary-color: rgb(194, 43, 106);
$close-color: rgb(217, 56, 56);

// Font colors
$font-color: rgb(255, 255, 255);
$font-color-highlight: rgb(230, 230, 230);
$font-color-gray: rgb(200, 200, 200);
$font-color-gray-highlight: rgb(160, 160, 160);
$font-color-invert: rgb(15, 15, 15);
$font-color-invert-highlight: rgb(60, 60, 60);
$font-color-title: rgb(255, 255, 255);

// Background colors
$bg-color-1: rgb(24, 24, 24);
$bg-color-2: rgb(60, 60, 60);
$gray-color: rgb(140, 140, 140);
$footer-bg-color: rgb(0, 0, 0);

// Layout spacing
$list-padding: 1em;
$item-spacing: .6em;
$mobile-padding: .6em;
