---
---

@use 'variables' as *;

// Reset
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /*UNCOMMENT FOR DEBUG*/ // outline: 1px solid #f00 !important;
}

// Scrollbar styling
::-webkit-scrollbar {
  height: 1vh;
  width: 1vh;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: $gray-color;
  border-radius: 1.3vh;
}

// Body styling
body {
  background: black linear-gradient($bg-color-1 0%, $bg-color-1 100%) fixed;
  box-sizing: border-box;
  color: $font-color;
  font-family: monospace;
  height: 100%;
  overflow: hidden;
  overflow-anchor: none;
  //noinspection CssInvalidPropertyValue
  overflow-y: overlay;
  text-decoration-skip-ink: none;
  text-shadow: $font-color-invert 1px 2px 3px;
  user-select: text;
  width: 100%;

  &.fixed-position {
    overflow-y: scroll;
    position: fixed;
  }

  &::before {
    background: #00000099;
    content: '';
    height: 100lvh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100lvw;
    z-index: 1;
  }
}

#body {
  position: relative;
  z-index: 2;
}

#page {
  display: grid;
  grid-gap: 1em;
  margin-bottom: 10px;
  min-height: calc(100vh - 10em);
  place-items: center;
}

#down-button {
  position: relative;
  top: -5em;
  transition: all .3s;

  &:hover span {
    cursor: pointer;
    opacity: .8;
  }

  span {
    border-bottom: .3em solid $font-color-gray;
    border-left: .3em solid $font-color-gray;
    box-sizing: border-box;
    height: 2em;
    left: 50%;
    transition: all .3s;
    margin-left: -1.6vh;
    position: absolute;
    transform: rotate(-45deg);
    width: 2em;
  }
}

.row {
  align-items: center;
  border-radius: 30px;
  display: grid;
  grid-gap: .5em 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 2.5em;
  width: 80%;

  img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
  }

  i {font-size: .6em;}

  &:has(.center) {text-align: center;}
}

// Additional classes
.top {
  min-height: 100lvh;
  .text {box-shadow: 10px 10px 20px $primary-color;}
}
.bottom {margin-bottom: 5%;}

.text {
  backdrop-filter: blur(4px);
  border-radius: 30px;
  box-shadow: 10px 10px 20px black;
  font-size: clamp(1em, 2.5vw, 1.3em);
  padding: 1.3em;

  img {max-width: 500px;}
}

// Headings
h1 {
  font-size: clamp(4ex, 5vw, 7ex);
  padding-bottom: .2em;
  text-decoration: underline double $primary-color;
}

h2 {
  font-size: clamp(3ex, 4vw, 5ex);
  padding-bottom: .5em;
  text-decoration: underline $primary-color;
}

h3 {
  font-size: clamp(2ex, 3vw, 3ex);
  padding-bottom: .5em;
  text-decoration: underline $secondary-color;
}

h4 {
  text-decoration: underline $secondary-color;
}

// Text colors
p {
  word-wrap: normal;
  &.gray {color: $font-color-gray;}
}

b {color: $font-color;}
.secondary {color: $secondary-color;}
.red {color: $close-color;}

// Lists
ul {
  padding-left: 1em;
  &.gray {color: $font-color-gray;}
  &.none {
    list-style: none;
    padding-left: 0;
  }
}

ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 1em;

  > li {
    counter-increment: item;
    display: table;
  }

  > li::before {
    content: counters(item, '.') '. ';
    display: table-cell;
    padding-right: .6em;
  }

  &.gray {color: $font-color-gray;}
}

li ol > li {margin: 0;}

li ol > li::before {content: counters(item, '.') ' ';}

ul,
ol {
  li {margin-bottom: .6em;}

  ul {
    list-style: circle;

    li {margin-bottom: 0;}

    &.none {
      list-style: none;
      padding-left: 0;
    }
  }
}

// Links
a {
  color: $font-color-gray;
  display: inline-block;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &.shield {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px; /* invisible spacing, minimal */
    line-height: 0;
    margin: auto;
    max-height: 29px;

    img:hover {opacity: .7;}
    img {
      display: block;
      transition: opacity .3s;
    }
  }

  &.white {color: $font-color;}
  &:hover {color: $font-color-gray-highlight;}
  &.white:hover {color: $font-color-highlight;}
}

// Other elements
.copy {
  transition: opacity .3s;

  &:hover {opacity: .8;}
}

.modal-image:hover,
.modal:hover {cursor: pointer;}

// Modal styling
.modal {
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-content,
.modal-caption {
  animation: zoom .6s;
  display: block;
  margin: auto;
}

.modal-content {
  max-height: 80%;
  max-width: 80%;
  object-fit: scale-down;
}

.modal-caption {
  color: $font-color-gray;
  max-width: 700px;
  text-align: center;
  width: 80%;
}

@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

// Collapsible
.coll {
  cursor: pointer;
  padding-bottom: 0;

  &.coll-active .coll-icon::after {transform: rotate(180deg);}
  &.coll-active .coll-icon::before {transform: rotate(90deg) scale(0);}

  .coll-icon {
    display: inline-block;
    float: right;
    font-weight: bold;
    margin-right: 1em;
    position: relative;

    &::before,
    &::after {
      background-color: $font-color;
      border-radius: .03em;
      content: '';
      height: .16em;
      position: absolute;
      top: calc(.5em - .08em);
      transition: .3s all;
      width: 1em;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.coll-content {
  border-radius: 25px;
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5em;
  text-align: left;
  transition: max-height .3s ease-out, padding .3s ease-out;

  &.expanded {
    max-height: none;
    padding: 1.5em;
  }

  .coll-content-text {
    font-size: clamp(.9rem, 3.5vw, 1.1rem);
    padding: .5em 0;
  }
}

// Media Queries for Mobile
@media (max-width: 600px) {
  .coll {
    font-size: clamp(1rem, 5vw, 1.3rem);
    margin-bottom: 8px;

    .coll-icon {
      margin-right: .5em;

      &::before,
      &::after {
        height: .12em;
        width: .8em;
      }
    }
  }

  .coll-content {
    padding: 0 1em;

    &.expanded {padding: 1em;}
  }
}

// Circle animations
#circles {
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;

  li {
    animation: animate 25s linear infinite;
    background: rgba(255, 255, 255, .2);
    bottom: -21vh;
    display: block;
    height: 20px;
    list-style: none;
    position: fixed;
    width: 20px;
  }

  // Customize individual li elements
  li:nth-child(1) {animation-delay: 0s; height: 80px; left: 25%; width: 80px;}
  li:nth-child(2) {animation-delay: 2s; animation-duration: 12s; height: 20px; left: 10%; width: 20px;}
  li:nth-child(3) {animation-delay: 4s; height: 20px; left: 70%; width: 20px;}
  li:nth-child(4) {animation-delay: 0s; animation-duration: 18s; height: 60px; left: 40%; width: 60px;}
  li:nth-child(5) {animation-delay: 0s; height: 20px; left: 65%; width: 20px;}
  li:nth-child(6) {animation-delay: 3s; height: 110px; left: 75%; width: 110px;}
  li:nth-child(7) {animation-delay: 7s; height: 150px; left: 35%; width: 150px;}
  li:nth-child(8) {animation-delay: 15s; animation-duration: 45s; height: 25px; left: 50%; width: 25px;}
  li:nth-child(9) {animation-delay: 2s; animation-duration: 35s; height: 15px; left: 20%; width: 15px;}
  li:nth-child(10) {animation-delay: 0s; animation-duration: 11s; height: 150px; left: 85%; width: 150px;}
}

@keyframes animate {
  0%, 100% {border-radius: 0; opacity: 1; transform: translateY(0) rotate(0deg);}
  100% {border-radius: 50%; opacity: 0; transform: translateY(-1000px) rotate(720deg);}
}

// Responsive adjustments
@media (max-width: 970px) {#down-button { display: none; }}
@media (max-width: 800px) {.row .empty { display: none; }}