---
---

ul li {margin: 15px 0;}

.languages i {
  font-size: 3.7vw;
  margin: 0 .2em;
  text-wrap: nowrap;

// scss-lint:disable ColorVariable
  &.icon-java {color: #ed8b00;}
  &.icon-python {color: #4584b6;}
  &.icon-database {color: #b7d331;}
  &.icon-html5 {color: #e34f26;}
  &.icon-css3-alt {color: #264de4;}
  &.icon-sass {color: #d06da1;}
  &.icon-js {color: #f0db4f;}
}
