<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google" content="notranslate">

	{% if page.title %}
		<title>{{ site.title }} | {{ page.title }}</title>
	{% else %}
		<title>{{ site.title }}</title>
	{% endif %}

	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="CasieBarie">
	<meta name="theme-color" content="#000000">

	<link rel="license" href="https://github.com/CasieBarieDev/Website/blob/main/LICENSE">
	<link href="https://www.casiebarie.dev{{ page.url }}" rel="canonical">
	<link href="/assets/images/mascot.webp" rel="icon">

	<link href="/assets/css/default.css" rel="stylesheet">
	<link href="/assets/font/casiebarie.css" rel="stylesheet">

	{% if page.stylesheet %}
		<link href="{{ page.stylesheet | prepend: '/assets/css/' }}" rel="stylesheet"/>
	{% endif %}
	{% if page.highlight %}
		<link href="/assets/css/highlight.css" rel="stylesheet"/>
	{% endif %}
	{% if page.form %}
		<link href="/assets/css/form.css" rel="stylesheet"/>
	{% endif %}
	{% include analytics.html %}

	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "WebPage",
			"name": "{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}",
			"description": "{{ page.description }}",
			"url": "https://www.casiebarie.dev{{ page.url }}"
		}
	</script>
</head>
<body>
<div id="body">
	{% include header.html %}
	<div id="page">
		{{ page.content }}
	</div>
	{% include footer.html %}
</div>
<ul id="circles">
	{% for i in (1..10) %}
		<li></li>
	{% endfor %}
</ul>
<script src="/assets/js/default.js"></script>
{% if page.highlight %}
	<script src="/assets/js/highlight.js"></script>
{% endif %}
{% if page.script %}
	<script src="{{ page.script | prepend: '/assets/js/' }}"></script>
{% endif %}
</body>
</html>