<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google" content="notranslate">

	{% if page.title %}
	<title>{{ site.title }} | {{ page.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}

	{% seo title=false %}

	<meta name="theme-color" content="#000000">
	<link rel="license" href="https://github.com/CasieBarieDev/Website/blob/main/LICENSE">
	<link rel="icon" href="/assets/images/mascot.webp">

	<link rel="stylesheet" href="/assets/css/default.css">
	<link rel="stylesheet" href="/assets/font/casiebarie.css">

	{% if page.stylesheet %}
	<link rel="stylesheet" href="{{ '/assets/css/' | append: page.stylesheet }}">
	{% endif %}
	{% if page.highlight %}
	<link rel="stylesheet" href="/assets/css/highlight.css">
	{% endif %}
	{% if page.form %}
	<link rel="stylesheet" href="/assets/css/form.css">
	{% endif %}
	{% if page.recaptcha %}
	<script src="https://www.google.com/recaptcha/enterprise.js?render=6LeHyfYrAAAAAKSqIGfSItFsaG8tjpcv6JP_rmDh" defer></script>
	{% endif %}

	{% include analytics.html %}
</head>
<body>
<div id="body">
	{% include header.html %}
	<main id="page" role="main">
		{{ page.content }}
	</main>
	{% include footer.html %}
</div>
<ul id="circles">
	{% for i in (1..10) %}
		<li></li>
	{% endfor %}
</ul>
<script src="/assets/js/default.js"></script>
{% if page.highlight %}
	<script src="/assets/js/highlight.js"></script>
{% endif %}
{% if page.script %}
	<script src="{{ page.script | prepend: '/assets/js/' }}"></script>
{% endif %}
</body>
</html>